# --- Windows and Mac files
[Tt]humbs.db
.DS_Store

# --- Root
/*
!block-editor.php
!.github
!.tests
!.editorconfig
!.gitattributes
!.gitignore
!src
!composer.json
!composer.lock
!.php-cs-fixer.dist.php
!CONTRIBUTING.md
!LICENSE
!README.md
